a {
  position: relative;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style: none;
  margin: 0;
}
p {
  list-style: none;
  margin: 0;
}

ul,
ol,
li {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
img {
  display: block;
}
section {
  padding: 120px 0;
}

.cap .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cap-item {
  display: flex;
  align-items: center;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.cap {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.blue {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.black {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts-list{
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.menu-nav {
  display: block;
  color: #404bbf;
  padding-top: 24px;
  padding-bottom: 24px;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.menu-nav::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 2px;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: #404bbf;
  transform: scaleX(0); /* Початковий стан - схований */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav:hover:after {
  transform: scaleX(1);
}
.menu-nav:hover {
  color: #404bbf;
}
.logo-navigation {
  color: #2e2f42;
}
.logo-navigation:hover {
  color: #404bbf;
}
.adr-items {
  display: flex;
  gap: 40px;
}
.adr {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts {
  color: #434455;
}
.contacts:hover {
  color: #404bbf;
}
.page-main {
  background: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
}
.page-main .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
.page-main-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.page-main-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.page-main-button:hover {
  background: #404bbf;
}
.page-main-button:focus {
  background-color: #404bbf;
}
.advantage-title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-item {
  display: flex;
  gap: 24px;
}
.svg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
}
.advantage-list {
  width: calc((100% - 72px) / 4);
}
.advantage-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background: #f4f4fd;
  align-items: center;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 72px;
}
.team-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 0;
}
.team-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
}
.team-soc {
  width: 40px;
  height: 40px;
}
.arc-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arc-social:hover, .arc-social:focus {
    background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

.team-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-box {
  padding: 32px 0;
}
.team-our-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-our-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-box-img {
  position: relative;
  overflow: hidden;
}
.portfolio-list {
  flex-basis: calc((100% - 48px) / 3);
}

.overlay-text {
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box-img:hover .overlay-text {
  transform: translateY(0%);
}
.portfolio-box-img:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.menu:hover,
:active {
  color: #404bbf;
}
.adr:hover,
:focus {
  color: #404bbf;
}
.end {
  background: hsl(237, 18%, 22%);
  padding: 100px 0;
  margin: 0 auto;
}
.end-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.white {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.end-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.end-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.container-end{
  display: flex;
  align-items: baseline;
  width: 1158px;
  }
  .end-logo-text-box{
    margin-right: 120px;
  }
.end-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  margin-top: 8px;
}
.arc-social-end {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arc-social-end:hover, .arc-social-end:focus {
    background-color: #31d0aa;
}

